body {
  background-color: #666;
  box-sizing: border-box;
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px; 
  grid-template-rows: 75px 75px 75px 75px 75px 75px;
  justify-content: center;
}

.display {
  grid-column: 1 / 5;
  background-color: #F0F0F0;
}

.display-text {
  float: right;
  color: #181818;
  font-family: "Arial Narrow", sans-serif;
  font-size: 250%;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 0;
}

.button {
  width: 75px;
  height: 75px;
  border: 1px solid #ECEDED;
  font-size: 125%;
}

.number-button {
  background-color: #FFF;
  color: #454546;
}

.operand-button {
  background-color: #FFF;
  color: #555657;
}

.accent-button {
  background-color: #FF8F55;
  color: #FFF;
}